.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
}

.floating-box {
  display: inline-block;
  width: 150px;
  height: 75px;
  margin: 15px;
}

h3 {
  color: rgb(39, 30, 168);
  font-family: "Times New Roman", Times, serif;
}

#results {
  background-color: #7ec481;
  border: white;
}

.container {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#formflex {
  float: right;
  margin: 20px;
  padding: 20px;
  border: 1px solid green;
  background: rgba(253, 244, 244, 0.584);
  background: url(background.png);
  background-repeat: no-repeat;
  padding: 15px;
  background-size: contain;
}

#comserve {
  background: url(networking-project.jpg);
  background-repeat: no-repeat;
  padding: 15px;
  background-size: cover;
}
