.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
}

body {
  margin: 0 !important;
  font-family: Arial;
  font-size: 17px;
}

a {
  color: black !important;
  font-weight: 800 !important;
}

.sitedetails {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: wavy;

  font-size: 24px;
  font-weight: 600;
  font-family: sans-serif;

  width: 250px;
  height: 200px;
}

@media (min-width: 1344px) and (max-width: 3000px) {
  .sitedetails {
    margin-bottom: 260px !important;
  }

  .container {
    width: 80% !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 500px !important;
    justify-content: center !important;
  }

  video {
    width: 550px !important;
    height: 300px !important;
  }

  .savedImage {
    width: 600px;
    height: 300px !important;
  }

  #results {
    width: 600px !important;
  }

  #my_camera {
    width: 600px !important;
  }
}

@media (min-width: 1000px) and (max-width: 1344px) {
  .sitedetails {
    margin-bottom: 260px !important;
  }

  .container {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 340px !important;
    justify-content: center !important;
  }

  video {
    width: 550px !important;
    height: 300px !important;
  }

  .savedImage {
    width: 600px !important;
    height: 300px !important;
  }

  #results {
    width: 600px !important;
  }

  #my_camera {
    width: 600px !important;
  }
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 500px;
  background-color: lightgrey;
}

.flex-item {
  width: 320px;
  height: 280px;
  margin: 20px;
}

@media (max-width: 576px) {
  .sitedetails {
    margin-bottom: 260px !important;
  }
  video {
    width: 400px !important;
    height: 500px !important;
  }

  .savedImage {
    width: 100% !important;
    height: 500px !important;
  }

  #results {
    width: 100% !important;
  }

  #my_camera {
    width: 100% !important;
    height: 500px !important;
  }
  .hidden-mobile {
    display: none;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .sitedetails {
    margin-bottom: 260px !important;
  }

  .container {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 340px !important;
    justify-content: center !important;
  }

  video {
    width: 100% !important;
    height: 300px !important;
  }

  .savedImage {
    width: 100% !important;
    height: 300px !important;
  }

  #results {
    width: 100% !important;
  }

  #my_camera {
    width: 100% !important;
  }
}

.dropdown-submenu {
  position: relative;
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-submenu .dropdown-menu {
  margin-top: -1px;
  color: white;
}

.floating-box {
  display: inline-block;
  width: 150px;
  height: 100px;
  margin: 15px;
}

.circle {
  height: 150px !important;
  width: 150px !important;
  border-radius: 100%;
  background-image: url(./images/takephoto.webp) !important;
  background-size: cover;
  font-weight: 800;
  color: antiquewhite;
  margin-left: 50px !important;
}

.floating-box3 {
  display: inline-block;

  height: 160px;
  margin: 20px;
}

h3,
h2,
p,
center {
  color: rgb(12, 1, 160);
  font-family: sans-serif;
  font-weight: 800;
  justify-content: center;
}

.btn-default.active,
.btn-default:active,
.open > .dropdown-toggle.btn-default {
  background-color: rgb(1, 49, 160) !important;
  color: white !important;
  font-weight: 800 !important;
}

h1 {
  color: black;
  font-family: Verdana;
  font-weight: 600;
}

#results {
  background: url(./images/location3.jpeg);
  font-weight: 800;
  border: white;

  padding: 20px;
  width: 500px;
  height: 380px !important;
  margin: 20px;
}

#my_camera {
  background-color: #7ec481;
  background: url(./images/cameraGif.gif);
  margin: 20px !important;
  background-size: contain;
  width: 100%;
  height: 380px !important;

  padding: 20px;
  border-radius: 20px;
  border-width: 20px;

  border-color: rgb(39, 30, 168) !important;
}

video {
  width: 450px;
  height: 300px;
}

.savedImage {
  width: 450px;
  height: 300px !important;
}

.no-round-input,
.m-3 {
  color: black;
  font-weight: bold;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#formflex {
  margin: 20px;
  padding: 20px;
  border: 1px solid green;
  background: rgba(253, 244, 244, 0.584);
  background: url(./images/background.png);
  background-repeat: no-repeat;
  padding: 15px;
  background-size: contain;
  width: 270px;
}

#comserve {
  background: url(./images/location1.jpeg);
  height: 220px;
  width: 100%;
}

.round-input {
  color: black;
  font-family: Verdana;
  font-weight: 600;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 900px !important;
}

/* Add some content at the bottom of the video/page */
.content {
  position: relative;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 70%;
  justify-content: center;
  background: url(./images/BlackVideo.mp4) !important;
}
